<h1>Craigslist Rails version</h1>

<div id="options_container" style="position:absolute;left:20px">
  <li><%= link_to "View all categories", categories_path %></li>
  </br>

  <li><%= link_to "Create new category", new_category_path %></li>
  </br>

  <li><%= link_to "Create new post", new_post_path %></li>

  </br>
</div>